
<h1>Books</h1>
<table>
    <th>
        <tr>
            <td></td>
            <td>Title</td>
            <td>Opinion</td>
        </tr>
    </th>    
    <tb>
        <tr>
            <% @book.each do |book| %>
                <td>
                    <%= link_to book_path(book.id) do %>
                        <%= image_tag book.get_image %>
                    <% end %>
                </td>
                <td>投稿ユーザー画像: <%= image_tag book.user.get_profile_image(100,100) %></td>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
            <% end %>
        </tr>
    </tb>
    
</table>

