
<div class="container">
    
    <div class="row">
        <div class="col-3">
            <h1>User info</h1>
        

            <p>name</p>
               
            <p>introduction</p>

            <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-user-gear"></i></button>

            <h1>New book</h1>

            <%= form_with model: @Books do |f| %>
                <p>Title</p>
                <%= f.text_area :title %>
    
                <p>Opinion</p>
                <%= f.text_area :body %>
    
                <%= f.submit "Create Book" %>
            <% end %>
        </div>
   
        <h1>Books</h1>
        <table>
            <th>
                <tr>
                    <td></td>
                    <td>Title</td>
                    <td>Opinion</td>
                </tr>
            </th>    
            
            <tb>
                <tr>
                    <% @books.each do |book| %>
                        <td>
                            <%= link_to book_path(book.id) do %>
                            <%= image_tag book.get_image %>
                            <% end %>
                        </td>
                        <td>投稿ユーザー画像: <%= image_tag book.user.get_profile_image(100,100) %></td>
                        <td><%= book.title %></td>
                        <td><%= book.body %></td>
                    <% end %>
                </tr>
            </tb>
        </table>
    
    </div>
</div>

