<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/771f6f27c6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
     <nav class="navbar navbar-expand-lg mr-auto navbar-dark bg-dark">
        <div class="container"> 
          
            <a class="navbar-brand p-3" href="/">Bookers</a>
          <% if user_signed_in? %>
            <ul class="navbar-nav">
              <li class="nav-item"><i class="fa-solid fa-house"></i><%= link_to "Home", user_path(current_user) %></a></li>
              <li class="nav-item"><a href ="/users"><i class="fa-solid fa-users"></i>Users</a></li>
              <li class="nav-item"><a href ="/books"><i class="fa-solid fa-book-open"></i>Books</a></li>
              <li class="nav-item"><i class="fa-solid fa-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            
            <ul class="navbar-nav">
              <li class="nav-item"><a href ="/"><i class="fa-solid fa-house"></i>Home</a></li>
              <li class="nav-item"><i class="fa-solid fa-link"><%= link_to "About", about_path %></i></li>
              <li class="nav-item"><a href ="/users/sign_up"><i class="fa-solid fa-user-plus"></i>Sign up</a></li>
              <li class="nav-item"><a href ="/users/sign_in"><i class="fa-solid fa-right-to-bracket"></i>Log in</a></li>
              
            </ul>
          <% end %>
        </div>
      </nav>    
    </header>
    
    <%= yield %>
    
    <footer>
      <div class ="container">
        <div class="row ">
          <p class=" mt-5 mx-auto">CopyRight Infratop.ink</p>
        </div>
      </div>
    </footer>
  </body>
</html>
